-var item = 'assets/images/gear.png'
-var dropdown_item = {src:'item.html', text: 'Lorem ipsum X550-zx'}
-var i = 0
-var count = 0

.container-fluid.filter
    .row
        .filter-menu
            while i < 6
                +b.item
                    +b.media
                        +e.IMG(src=item).image
                    +e.SPAN.text МАСЛА ТРАНСМИССИОННЫЕ
                -i++
        .filter-dropdown
            +b.UL.dropdown
                +b.LI.item 
                    +e.P.text несинтетические
                    +b.UL.links-wrapper
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}  
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}    
                        
                +b.LI.item
                    +e.P.text полусинтетические
                    +b.UL.links-wrapper
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}  
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}    
                
                +b.LI.item 
                    +e.P.text минеральные
                    +b.UL.links-wrapper
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}  
                        +b.LI.element
                            +e.A(href=dropdown_item.src).link #{dropdown_item.text}    
            +b.close-btn
                
            