mixin CreateSlider(id, image, count)
    -var i = 0
    ul(id='lightSlider' +id)
        while i < count
            li
                +b.slider-item
                    +b.media
                        +e.img(src=image)
            -i++

mixin CreatePost(itemClass, itemTitle, itemContent, buttonClass, buttonText)
    +b(class=itemClass +"-card")
        +e.H2.title #{itemTitle}
        +e.P.content #{itemContent}
        +e.A(type="button" href="" class=buttonClass).button #{buttonText}


mixin CreatePostCard(title, date, image, content, className)
    +b(class = className)
        +e.P.date #{date}
        +b.info.clearfix
            +e.IMG(src=image).image
            +e.A(href="post.html").title #{title}
            +e.P.content #{content}
        +e.A(type="button" href="" class='button').button далее

mixin CreateButton(href, text,button_class)
    a(href=href, class=button_class) #{text}

mixin CreateItem(itemHref ,itemClass, itemTitle, itemPrice, itemImg, itemBadgeClass, itemBadgeText, itemPriceOld)
    +b(href= itemHref, class=itemClass +"-card")
        +e.media
            +e.IMG(src=itemImg).media--image 
            +e.P.media(class=itemBadgeClass+'-badge badge') #{itemBadgeText}
            
        +e.H2.title #{itemTitle}
        
        if itemPriceOld
            +e.SPAN.price #{itemPrice} 
            span.price-old #{itemPriceOld}
        else 
            +e.SPAN.price #{itemPrice}


mixin CreateMarketItem(itemHref ,itemClass, itemTitle, itemPrice, itemImg, itemBadgeClass, itemBadgeText, itemPriceOld, text, className, selectValues)
    -var i = 5
    +b(href= itemHref, class=itemClass +"-card")
        +e.media
            +e.IMG(src=itemImg).media--image 
            +e.P.media(class=itemBadgeClass+'-badge badge') #{itemBadgeText}
            
        +e.H2.title #{itemTitle}
        select.select
            while i > 0 
                option(value=selectValues) #{selectValues}
                -i--
        button(type="order", class=className) #{text}
        if itemPriceOld
            +e.SPAN.price #{itemPrice} 
            span.price-old #{itemPriceOld}
        else 
            +e.SPAN.price #{itemPrice}
