mixin CreateSlider(id, image, count)
    -var i = 0
    ul(id='lightSlider' +id)
        while i < count
            li
                +b.slider-item
                    +b.media
                        +e.img(src=image)
            -i++

mixin CreateMainPost(itemClass, itemTitle, itemContent, buttonClass, buttonText)
    +b(class=itemClass +"-card")
        +e.H2.title #{itemTitle}
        +e.P.content #{itemContent}
        +e.A(type="button" href="new.html" class=buttonClass).button #{buttonText}


mixin CreatePostCard(title, date, image, content, className, href)
    +b(class = className)
        +e.P.date #{date}
        +b.info.clearfix
            +e.IMG(src=image).image
            +e.A(href=href).title #{title}
            +e.P.content #{content}
        +e.A(type="button", href=href, class='button').button далее

mixin CreateButton(href, text,button_class)
    a(href=href, class=button_class) #{text}

mixin CreateItem(itemHref ,itemClass, itemTitle, itemPrice, itemImg, itemBadgeClass, itemBadgeText, itemPriceOld)
    +b(href= itemHref, class=itemClass +"-card")
        +e.media
            +e.IMG(src=itemImg).media--image 
            +e.P.media(class=itemBadgeClass+'-badge badge') #{itemBadgeText}
            
        +e.H2.title #{itemTitle}
        
        if itemPriceOld
            +e.SPAN.price #{itemPrice} 
            span.price-old #{itemPriceOld}
        else 
            +e.SPAN.price #{itemPrice}

mixin CreateMarketItem(itemHref,itemClass,itemTitle,itemPrice,itemImg,itemBadgeClass, itemBadgeText, itemPriceOld, button_text,className, selectValues )
    -var i = 5
    +b(href= itemHref, class=itemClass +"-card")
        +e.media
            +e.IMG(src=itemImg).media--image 
            +e.P.media(class=itemBadgeClass+'-badge badge') #{itemBadgeText}
                
        +e.H2.title #{itemTitle}
        select.select
            while i > 0 
                option(value=selectValues) #{selectValues}
                -i--
        button(type="order", class=className) #{button_text}
        if itemPriceOld
            +e.SPAN.price #{itemPrice} 
            span.price-old #{itemPriceOld}
        else 
            +e.SPAN.price #{itemPrice}


mixin CreateCheckoutItem(itemHref,itemClass,itemTitle,itemPrice,itemImg,selectValues)
    +b(class=itemClass +"-card").clearfix
        +e.media
            +e.IMG(src=itemImg).media--image 
        +e.A(href=itemHref).title 
            +e.name #{itemTitle} <br>
            +e.SPAN.article Lorem ipsum 
        +e.SPAN.price Стоимость 
            span #{itemPrice}
        +e.SPAN.quantity Количество <br>
            +e.INPUT(type="number", min='0' max="999" value='1').order-quantity
            .controls
                .up
                .down
        +e.SPAN.total Сумма 
            span #{itemPrice}
        +e.SPAN.close 

        


mixin CreateItemDetails(itemClass,itemTitle,itemPrice, itemPriceOld, itemImg,itemBadgeClass, itemBadgeText,  button_text,className, selectValues, description, table_description)
    -var i = 5
    +b(class=itemClass +"-card clearfix")
        +e.H2.title #{itemTitle}
        +b.media
            +e.IMG(src=itemImg).image 
            +e.P.badge #{itemBadgeText}
        +b.text
            +e.A().title.text__title--description Описание    
            +e.A().title.text__title--table-description Характеристики
            .text-container    
                +CreateDescription(description)

                +CreateTableDescription(table_description)
        +b.order-details    
            +b.order-form.clearfix
                +b.element.price
                    +e.SPAN.new #{itemPrice} 
                    +e.SPAN.old #{itemPriceOld}
                +b.element.quantity
                    +e.SELECT.select
                        while i > 0 
                            option(value=selectValues) #{selectValues}
                            -i--
                    +e.INPUT.quantity(type="number" value="1" min="1")
                +b.BUTTON.element.order-btn(type="order", class=className) #{button_text}
            +b.buttons-wrapper.clearfix
                a(href="").btn технические данные
                a(href="").btn доставка и оплата


mixin CreateDescription(content)
    +b.description
        each el, i in content
            +e.P.element= el


mixin CreateTableDescription(content)
    -var i = 0
    +b.TABLE.table-description
            while i < 7
                +b.TR.table-block
                    +e.TD.element= content[0]
                    +e.TD.element= content[1]
                -i++

mixin CreatePost(title, date, image, content, className)
    +b(class = className)
        +b.P.title #{title}
        +e.P.date #{date}
        +b.info.clearfix
            +e.IMG(src=image).image
            each el, i in content
                +e.P.content= el
